/*Slider*/

#carousel-id{
  padding-top: 50px;
}
p{
  font-weight: 200;
}

body{
     padding:20px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:#34495e;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.text-login{
    color: #fff;
    background-color: inherit;
}



/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 5px;
  background: #fff;
  min-height: 460px;
}
#ketqua{
    font-color: red;
}
#text span{
  font-color: white;
}



@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,700italic,700,500&subset=latin,latin-ext");

body {
        padding-top: 10px;
        padding-bottom: 40px;
      
      }
  
  /* COMMON PRICING STYLES */
    .panel.price,
    .panel.price>.panel-heading{
      border-radius:0px;
       -moz-transition: all .3s ease;
      -o-transition:  all .3s ease;
      -webkit-transition:  all .3s ease;
    }
    .panel.price:hover{
      box-shadow: 0px 0px 30px rgba(0,0,0, .2);
    }
    .panel.price:hover>.panel-heading{
      box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
    }
    
        
    .panel.price>.panel-heading{
      box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
      text-shadow:0px 3px 0px rgba(50,50,50, .6);
    }
      
    .price .list-group-item{
      border-bottom-:1px solid rgba(250,250,250, .5);
    }
    
    .panel.price .list-group-item:last-child {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .panel.price .list-group-item:first-child {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
    
    .price .panel-footer {
      color: #fff;
      border-bottom:0px;
      background-color:  rgba(0,0,0, .1);
      box-shadow: 0px 3px 0px rgba(0,0,0, .3);
    }
    
    
    .panel.price .btn{
      box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
      border:0px;
    }
    
  /* green panel */
  
    
    .price.panel-green>.panel-heading {
      color: #fff;
      background-color: #57AC57;
      border-color: #71DF71;
      border-bottom: 1px solid #71DF71;
    }
    
      
    .price.panel-green>.panel-body {
      color: #fff;
      background-color: #65C965;
    }
        
    
    .price.panel-green>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-green .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* blue panel */
  
    
    .price.panel-blue>.panel-heading {
      color: #fff;
      background-color: #608BB4;
      border-color: #78AEE1;
      border-bottom: 1px solid #78AEE1;
    }
    
      
    .price.panel-blue>.panel-body {
      color: #fff;
      background-color: #73A3D4;
    }
        
    
    .price.panel-blue>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-blue .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* red price */
    
  
    .price.panel-red>.panel-heading {
      color: #fff;
      background-color: #D04E50;
      border-color: #FF6062;
      border-bottom: 1px solid #FF6062;
    }
    
      
    .price.panel-red>.panel-body {
      color: #fff;
      background-color: #EF5A5C;
    }
    
    
    
    
    .price.panel-red>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-red .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* grey price */
    
  
    .price.panel-grey>.panel-heading {
      color: #fff;
      background-color: #6D6D6D;
      border-color: #B7B7B7;
      border-bottom: 1px solid #B7B7B7;
    }
    
      
    .price.panel-grey>.panel-body {
      color: #fff;
      background-color: #808080;
    }
    

    
    .price.panel-grey>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-grey .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* white price */
    
  
    .price.panel-white>.panel-heading {
      color: #333;
      background-color: #f9f9f9;
      border-color: #ccc;
      border-bottom: 1px solid #ccc;
      text-shadow: 0px 2px 0px rgba(250,250,250, .7);
    }
    
    .panel.panel-white.price:hover>.panel-heading{
      box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
    }
      
    .price.panel-white>.panel-body {
      color: #fff;
      background-color: #dfdfdf;
    }
        
    .price.panel-white>.panel-body .lead{
        text-shadow: 0px 2px 0px rgba(250,250,250, .8);
        color:#666;
    }
    
    .price:hover.panel-white>.panel-body .lead{
        text-shadow: 0px 2px 0px rgba(250,250,250, .9);
        color:#333;
    }
    
    .price.panel-white .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
